canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#soundbutton {
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  right: 0;
  margin-right: 1%;
  width: 3%;
  height: auto;
  cursor: pointer;
  z-index: 2;
}

/* Portfolio text stuff */
/* span { I'd like to avoid a bg coloring if possible, but if I absolutely must, this will let me have a semi-transparent background on text
  background: rgba(0, 0, 0, 0.3)
} */

.portfolio {
  visibility: hidden;
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  grid-gap: 0px;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  z-index: 2; /* For some reason you need a z-index of 2 or greater to print over the canvas */
}

.portfolio-title {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 1rem;
  padding-bottom: 0%;
  font-size: 42px;
  font-family: 'Segoe UI', Verdana, sans-serif;
}

.portfolio-body {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  vertical-align: top;
  text-align: left;
  font-size: 25px;
  font-family: 'Segoe UI Light', Verdana, sans-serif;
}

/* This is basically an easy naive way to support mobile devices (or really portrait mode I should say) */
@media only screen and (max-width: 500px) {
  .portfolio-title { 
    font-size: 28px; 
  }
  .portfolio-body { 
    font-size: 13px; 
  }
  #soundbutton {
    width: 5%;
  }
}

div {
  color: ghostwhite;
  display: grid;
}

#bg {
  z-index: 1;
}

/* Loading screen stuff */
#loading-screen-title {
  font-family: 'Segoe UI Light', Verdana, sans-serif;
  font-size: 28pt;
  text-align: center;
}

#loading-screen-disclaimer{
  font-family: 'Segoe UI Light', Verdana, sans-serif;
  color: ghostwhite;
  font-style: italic;
  opacity: 0.65;
  font-size: 13pt;
  text-align: center;
  visibility: hidden;
}

.piccontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

#spacebarpic {
  min-width: 0;
  max-width: 35%;
  height: auto;
  margin-top: -3%;
  margin-left: 4%;
}

#mousepic {
  min-width: 25%;
  max-width: 25%;
  height: auto;
  margin-top: 0%;
  margin-left: 27%;
}

@media only screen and (max-width: 500px) {
  #loading-screen-disclaimer{
    visibility: visible;
  }
  .piccontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  #spacebarpic {
    padding-top: 130%;
    min-width: 65%; 
  }
  #mousepic { 
    padding-top: 130%;
    min-width: 50%;
  }
}

#loading-screen {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
  overflow-y: hidden; /* Supposed to keep loading screen from being scrollable, but isn't working. It seems it works by adding this to body element */
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0px 0px -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

#root {
  --dark-bg: rgba(15, 15, 15, 0.6);
  --spacing: 300px;
  width: 100%;
}

body {
  background: rgb(0, 0, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden; /* This used to be visible, but the loading screen was being stupid and wouldn't stop being scrollable so I made it hidden */
}

.container {
  -ms-overflow-style: none;  /* Hide scroll bar on Internet Explorer 10+ */
  scrollbar-width: none;  /* Hide scroll bar on Firefox */
}
.container::-webkit-scrollbar { 
  display: none;  /* Hide scroll bar on Safari and Chrome */
  width: 0;
  height: 0;
}